/*
 * style_add.css
 *
 * GPLv3 --- Copyright (C) 2019-2020, 2022 Olivier Pirson
 * Olivier Pirson --- http://www.opimedia.be/
 * February, 2022
 */

/* Highlights different rounding behavior */
#tsv2htmltable--data #tsv2htmltable--row-10 td:nth-child(4),
#tsv2htmltable--data #tsv2htmltable--row-12 td:nth-child(4) {
  background-color: #ffe0a0;
}



/* Highlights different division/remainder behavior */
#tsv2htmltable--data #tsv2htmltable--row-1 td:nth-child(16),
#tsv2htmltable--data #tsv2htmltable--row-1 td:nth-child(20),

#tsv2htmltable--data #tsv2htmltable--row-2 td:nth-child(4),

#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(4),
#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(14),
#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(15),
#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(18),
#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(19),
#tsv2htmltable--data #tsv2htmltable--row-5 td:nth-child(23),

#tsv2htmltable--data #tsv2htmltable--row-9 td:nth-child(14),
#tsv2htmltable--data #tsv2htmltable--row-9 td:nth-child(15),
#tsv2htmltable--data #tsv2htmltable--row-9 td:nth-child(18),
#tsv2htmltable--data #tsv2htmltable--row-9 td:nth-child(19),

#tsv2htmltable--data #tsv2htmltable--row-10 td:nth-child(14),
#tsv2htmltable--data #tsv2htmltable--row-10 td:nth-child(15),
#tsv2htmltable--data #tsv2htmltable--row-10 td:nth-child(18),
#tsv2htmltable--data #tsv2htmltable--row-10 td:nth-child(19),

#tsv2htmltable--data #tsv2htmltable--row-12 td:nth-child(16),
#tsv2htmltable--data #tsv2htmltable--row-12 td:nth-child(20) {
  background-color: #ffe0a0;
}
